.contDetail{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center; 
  height: 100vh; 
}

.contDetail span{
  font-size: 18px;
}

.types{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.types h2{
  font-size: 20px;
}

.dataPok h1{
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 0px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-transform: uppercase;
}

.ul{
  padding: 0px;
  margin-bottom: 30px;
}

.ul li{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}






.normal{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(164, 246, 251);
  font-weight: 500;
  text-transform: uppercase;
}

.fighting{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(251, 20, 20);
  font-weight: 500;
  text-transform: uppercase;
}

.flying{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(17, 155, 247);
  font-weight: 500;
  text-transform: uppercase;
}

.poison{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgba(200, 0, 255, 0.825);
  font-weight: 500;
  text-transform: uppercase;
}

.ground{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(134, 83, 0);
  font-weight: 500;
  text-transform: uppercase;
}

.rock{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(111, 109, 109);
  font-weight: 500;
  text-transform: uppercase;
}

.bug{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(12, 116, 0);
  font-weight: 500;
  text-transform: uppercase;
}

.ghost{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(102, 209, 255);
  font-weight: 500;
  text-transform: uppercase;
}

.steel{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(203, 123, 3);
  font-weight: 500;
  text-transform: uppercase;
}

.fire{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(255, 65, 1);
  font-weight: 500;
  text-transform: uppercase;
}

.water{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(1, 145, 255);
  font-weight: 500;
  text-transform: uppercase;
}

.grass{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(25, 234, 1);
  font-weight: 500;
  text-transform: uppercase;
}

.electric{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(255, 238, 0);
  font-weight: 500;
  text-transform: uppercase;
}

.psychic{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(166, 0, 255);
  font-weight: 500;
  text-transform: uppercase;
}

.ice{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(124, 244, 255);
  font-weight: 500;
  text-transform: uppercase;
}

.dragon{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(154, 101, 32);
  font-weight: 500;
  text-transform: uppercase;
}

.dark{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgba(0, 0, 0, 0.685);
  font-weight: 500;
  text-transform: uppercase;
}

.fairy{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(255, 70, 243);
  font-weight: 500;
  text-transform: uppercase;
}