.nav {
  background-color: #e70606;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  align-items: center;
  justify-content: space-around; 
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1000;
}

