.card {    
  display: flex;    
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: fit-content;
  min-height: 16rem;

  position: relative;
  padding: 10px;
  margin: 18px; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.411);
  min-width: 200px;
  max-width: 200px;
}

.card img{
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 15%;
  transition: transform 300ms ease;
}

.card img:hover{
  transform: scale(1.12);
}

.card h1{
  font-size: 20px;
  margin: 6px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-transform: uppercase;
}

.normal{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(164, 246, 251);
  font-weight: 500;
  text-transform: uppercase;
}

.fighting{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(251, 20, 20);
  font-weight: 500;
  text-transform: uppercase;
}

.flying{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(17, 155, 247);
  font-weight: 500;
  text-transform: uppercase;
}

.poison{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgba(200, 0, 255, 0.825);
  font-weight: 500;
  text-transform: uppercase;
}

.ground{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(134, 83, 0);
  font-weight: 500;
  text-transform: uppercase;
}

.rock{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(111, 109, 109);
  font-weight: 500;
  text-transform: uppercase;
}

.bug{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(12, 116, 0);
  font-weight: 500;
  text-transform: uppercase;
}

.ghost{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(102, 209, 255);
  font-weight: 500;
  text-transform: uppercase;
}

.steel{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(203, 123, 3);
  font-weight: 500;
  text-transform: uppercase;
}

.fire{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(255, 65, 1);
  font-weight: 500;
  text-transform: uppercase;
}

.water{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(1, 145, 255);
  font-weight: 500;
  text-transform: uppercase;
}

.grass{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(25, 234, 1);
  font-weight: 500;
  text-transform: uppercase;
}

.electric{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(255, 238, 0);
  font-weight: 500;
  text-transform: uppercase;
}

.psychic{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(166, 0, 255);
  font-weight: 500;
  text-transform: uppercase;
}

.ice{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(124, 244, 255);
  font-weight: 500;
  text-transform: uppercase;
}

.dragon{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(154, 101, 32);
  font-weight: 500;
  text-transform: uppercase;
}

.dark{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgba(0, 0, 0, 0.685);
  font-weight: 500;
  text-transform: uppercase;
}

.fairy{
  font-size: 16px;
  margin: 0px;
  color: rgb(0, 0, 0);
  text-shadow: -1px 0px 8px rgb(255, 70, 243);
  font-weight: 500;
  text-transform: uppercase;
}



.link {
  text-decoration: none;
}